body {
   background: #fff8ec !important;
   font-family: Arial, sans-serif; 
}

.navbar {
  padding: 2.5em 2.5rem;      
  border-radius: 40px;      
  margin: 15px auto;      
  width: 95%;               
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.navbar-nav .nav-link {
  margin: 2px 40px;        
  font-size: 1.4rem;      
  font-weight: 500;     
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10%;
}
.hero-text {
  max-width: 50%;
}

.hero-text h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #111;
}

.hero-text p {
  margin-top: 20px;
  font-size: 1.1rem;
  color: #444;
}


/* Logo */
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #222;
}
.nav-logo img {
  width: 28px;
  height: 28px;
}


.menu-toggle {
  display: none;
  font-size: 22px;
  cursor: pointer;
  color: #d30c0c;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #f8f9fa;
    position: absolute;
    top: 70px;
    right: 20px;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    width: 200px;
  }
  .nav-links.active {
    display: flex;
  }
  .menu-toggle {
    display: block;
  }
}
